.headerWrapper{
    margin: 0 40px;
}
.header{/*
    background-color: aqua;*/
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 20px 40px;
    border-radius: 10px;
}
.title{
    color: aliceblue;
}
.btn{
    background-color: rgb(69, 127, 214);
    border: 1px solid rgb(69, 127, 214);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 20px;
}
.btn:hover{
    background-color: rgb(22, 89, 189);
}